@model WebAspNet_Core.Models.MappingLgpdtoken

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MappingLgpdtoken</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpflength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpflength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpfciphered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpfciphered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LgpdtokenLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LgpdtokenLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lgpdtoken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lgpdtoken)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RangeCounter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RangeCounter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TokenReferenceIdlength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TokenReferenceIdlength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TokenExpirationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TokenExpirationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventCounter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventCounter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimerEventExpiration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimerEventExpiration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Last4DigitsPan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Last4DigitsPan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodeValidation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodeValidation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TokenLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TokenLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PcikeyIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PcikeyIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CardHolderDataCiphered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CardHolderDataCiphered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TokenRequestor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TokenRequestor.TokenRequestorId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TokenRequestorId, id2= Model.TokenReferenceId }) |
    <a asp-action="Index">Back to List</a>
</div>
